@use '../vars';

.excerpt {
    border-radius: 5px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
}

.excerpt__title {
    font-size: vars.$fs-300;
    margin-block: 1rem 0.5rem;
}

.excerpt__link {
    color: vars.$clr-black-100;
    font-size: inherit;
}

.excerpt__date {
    margin-block-start: 0;
    font-size: vars.$fs-600;
    color: vars.$clr-gray-100;
}

.excerpt__text {
    color: vars.$clr-gray-100;
}
