@use '../vars';

.form-control {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-control__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.form-control__length-counter {
    color: vars.$clr-gray-100;
    font-size: vars.$fs-600;
}

.form-control__field {
    border: 1px solid vars.$clr-white-200;
    outline: none;
    border-radius: 5px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.025);
    padding: 1rem;
    color: vars.$clr-gray-100;
    resize: none;

    &:focus {
        border-color: vars.$clr-black-100;
    }

    &[aria-invalid='true'] {
        border-color: vars.$clr-red-100;
        color: vars.$clr-red-100;
    }
}

.form-control__error {
    color: vars.$clr-red-100;
    font-size: vars.$fs-600;
    padding: 0;
    margin: 0;
}
