@use '../vars';

.pagination {
    max-inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    @media screen and (width >= 720px) {
        flex-direction: row;
        align-items: center;
    }
}

.pagination__pages {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.pagination__btn:not(.pagination__btn--active) {
    background: transparent !important;
    color: vars.$clr-black-100;
}
