@use '../vars';

.post {
    border-radius: 5px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
}

.post__title {
    font-size: vars.$fs-300;
    margin-block: 1rem 0.5rem;

    > a {
        color: vars.$clr-black-100;
        font-size: inherit;
    }
}

.post__text {
    color: vars.$clr-gray-100;
    margin: 0;
}
