@use 'vars';

@keyframes lighten {
    from {
        background: transparent;
        border: 1px solid transparent;
    }
    to {
        background: vars.$clr-white-100;
        border: 1px solid vars.$clr-gray-200;
    }
}

.navbar {
    position: fixed;
    inset: 0 0 auto 0;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5% 5%;
    background: vars.$clr-white-100;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.025);
    z-index: 2;
}

.navbar,
.navbar__container,
.navbar__menu,
.navbar__actions {
    display: flex;
}

.navbar__container,
.navbar__menu,
.navbar__actions {
    flex-direction: column;

    @media screen and (width >= 837px) {
        align-items: center;
        flex-direction: row;
    }
}

.navbar__logo {
    flex-grow: 1;
    margin: 0;
}

.navbar__trigger,
.navbar__btn {
    display: block;
    inline-size: max-content;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
}

.navbar__trigger {
    @media screen and (width >= 837px) {
        display: none;
    }
}

.navbar__container {
    gap: 1.875rem;
    transition: all 250ms;
    transform-origin: top center;
    visibility: collapse;

    @media screen and (width < 837px) {
        position: absolute;
        inset-block-start: 100%;
        inset-inline: 0;
        padding-block: 1.5rem;
        padding-inline: inherit;
        background: vars.$clr-white-100;
        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
        scale: 1 0;
        z-index: 1;
    }

    @media screen and (width >= 837px) {
        justify-content: space-between;
        visibility: visible;
    }
}

.navbar__container:has(.navbar__actions) {
    flex-grow: 1;
}

.navbar__container--expanded {
    scale: 1 1;
    visibility: visible;
}

.navbar__menu,
.navbar__actions {
    gap: 0.5rem;
}

.navbar__link {
    display: block;
    inline-size: max-content;
    color: vars.$clr-black-100;
    padding: 0.5rem 1rem;
    border-radius: 5px;

    &--active {
        background: vars.$clr-black-100;
        color: vars.$clr-white-100;
    }
}

.container {
    padding: 113px 5%;
}

.auth {
    inline-size: max(288px, 24.296%);
    margin: 0 auto;
}

.settings {
    inline-size: max(288px, 45%);
    margin: 0 auto;
}

.auth__form,
.settings__form {
    margin-block: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.auth__additional-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profile::before {
    content: '';
    position: absolute;
    inset: 0 0 auto 0;
    inline-size: 100%;
    block-size: 277px;
    z-index: -1;
    background: linear-gradient(45deg, #eeaeca, #94bbe9);
}

.user {
    padding-block: 114px 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-block-end: 1px solid vars.$clr-gray-200;
}

.user__avatar {
    inline-size: 84px;
}

.user__actions {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;

    @media screen and (width >= 720px) {
        flex-direction: row;
        align-items: center;
        inline-size: max-content;
    }
}

.user__contact-info {
    display: flex;
    gap: 1rem;
}

.user__contact-link {
    display: block;
    inline-size: max-content;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

.post-form__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 2rem;
}

.post-form__form,
.event-form__form,
.post-form__preview {
    padding: 1.5rem;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.post-form__title,
.event-form__title {
    margin-block-start: 0;
}

.post-form__note-caption,
.event-form__note-caption {
    font-weight: 500;
}

.post-form__note-item,
.event-form__note-item {
    color: vars.$clr-gray-100;

    &:not(:last-of-type) {
        margin-block-end: 0.5rem;
    }
}

.post-form__form > .form-control,
.event-form__form > .form-control {
    &:not(:last-of-type) {
        margin-block: 1.5rem;
    }

    &:last-of-type {
        margin-block-end: 2rem;
    }
}

.post-form__btn,
.event-form__btn {
    inline-size: 100%;
}

.post-form__preview-content {
    max-block-size: 300px;
    overflow-y: scroll;
}

.publication-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media screen and (width >= 720px) {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

.search-modal {
    inline-size: min(90%, 640px);
    overflow-y: hidden;
    border: none;
    border-radius: 5px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
}

.search-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 1.5rem;
}

.search-modal__header-title {
    margin-block: 0;
}

.search-modal__btn {
    border: none;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.025);
}

.search-modal__content {
    @media screen and (width >=720px) {
        margin-inline: 2rem;
    }
}

.search-modal__results-title {
    margin-block: 1.5rem 1rem;
}

.search-modal__results {
    max-block-size: 150px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;

    @media screen and (width > 720px) {
        padding: 1rem;
    }
}

.search-modal__excerpt {
    padding: 1rem 1rem 0rem;
    border: 1px solid vars.$clr-white-200;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.025);
}

.search-modal__title {
    display: block;
    margin-block: 0rem 0.5rem;
    font-size: vars.$fs-500;
}

.event-form__form {
    inline-size: max(288px, 43.671%);
    margin-inline: auto;
}

.publications-preview__header {
    margin-block-end: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;

    @media screen and (width >= 720px) {
        align-items: center;
    }
}

.publications-preview__title {
    margin: 0;
}

.filter-option,
.filter-option--active {
    margin-block: 0.25rem;
    cursor: pointer;
}

.filter-option {
    color: vars.$clr-gray-100;
}

.filter-option--active {
    color: vars.$clr-black-100;
}

.publications-preview__pagination {
    inline-size: max-content;
    margin-block-start: 2rem;
    margin-inline: auto;
}

.map-view {
    inline-size: 100%;
    block-size: 100dvh;
    border-radius: 5px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
}

.map-view__pin {
    cursor: pointer;
}

.map-view__excerpt {
    padding: 1rem;
}

.map-view__title {
    font-size: vars.$fs-500;
    margin-block-start: 0;
}

.map-view__text {
    font-size: vars.$fs-600;
}
